body{
    background-image: url(../images/71a940b0-75fc-11ee-84ba-091bdac7b8cc-3893789.jpg);
    background-size: cover;
    padding-left: 20px;
    color: white;
}
.shape{
    background-color: rgba(0, 0, 0, 0.2);
}
nav{
    background-color: rgba(68, 28, 0, 0.5);
}
#nav_menu ul{
    list-style: none;
    display: table;
}
.menu:hover{
    background-color: mediumspringgreen;

}
#nav_menu ul li{
    display: inline-block;
    border-right: 1px solid white;
    padding: 0 5px;
}
#nav_menu ul li:last-child{
    border-right: none;
}

#nav_menu ul li a{
    color: white;
    text-decoration: none;

}


.images{
    border-radius: 35px;
    overflow: hidden;
}